.details-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* padding-left: 140px; */
    
    
}

.exercises-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 50px;
    

}

.report-container{
    background-color: lightcyan;
}
/* 
@media screen and(max-width:1100px){
    .exercises-container{
        grid-template-columns: repeat(2, 1fr);
    }
   
} */
@media screen and(max-width:500px){
    .exercises-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
   
}
