.header{
    height: 80px;
    background-color: #041d31;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    

    
}
.header img{
    height: 80px;
    width: 160px;
    
}
.header a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

.header a:hover{
    color: orange;
}